<section>
	
	

	<div class="container"> 

		<h3>{{media.title}}</h3>

		<p><strong>Title:</strong> {{media.title}}</p>
		<p><strong>Type:</strong> {{media.type}} </p>
		<p><strong>Description:</strong><br>
		{{media.description}}</p>

		<p><a href="/media/edit/{{media._id}}" >Edit</a> | <a @click="confirmDelete($event)" href="/media/delete/{{media._id}}" >Delete</a></p>

	</div>




</section>